<div class="container">
  <div class="flex items-center">
    <h1 class="grow-1 section-title">Manifiestos de vuelo</h1>
    <div class="flex justify-end">
        <img style="cursor: pointer;" (click)="ngOnInit()" height="25px" [src]="isLoading ? 'assets/loading4.gif' : 'assets/reload.svg'" alt="">
      </div>
  </div>
  <div>
    <form [formGroup]="searchForm">
      <div class="flex grid items-center ">
        <!-- <form [formGroup]="searchForm" (ngSubmit)="update()"> -->
        <div class="flex items-center grow-1">
          <p class="title-search grow-1">Fecha</p>
          <mat-form-field class="grow-1" [floatLabel]="'never'" appearance="outline" (click)="pickerDate.open()">
            <input placeholder="{{date}}" matInput [matDatepicker]="pickerDate" formControlName="date">
            <!-- <mat-datepicker-toggle matSuffix [for]="pickerDate"></mat-datepicker-toggle> -->
            <mat-datepicker #pickerDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="flex items-center grow-1">
          <p class="title-search grow-1">Hora</p>
          <!-- <mat-form-field class="grow-1" [floatLabel]="'never'" appearance="outline" (click)="pickerHour.open()"> -->
          <input id="time" placeholder="{{hour}}" name="time" formControlName="hour" type="time"
            class="grow-1 input-manifest">
          <!-- <input > -->
          <!-- <ngx-material-timepicker #pickerTime [appendToInput]="false"></ngx-material-timepicker> -->

          <!-- </mat-form-field> -->
        </div>
        <div class="flex items-center grow-1">
          <p class="title-search grow-1">Siglas</p>
          <ng-select [addTag]="true" [ngOptionHighlight]="appUppercase" placeholder="Todas" class="grow-1 select-supervisor" formControlName="acronym"
            [items]="['Todas', 'Value2', 'Value3', 'Value4', 'Value5']" [clearable]="true"></ng-select>
        </div>
        <div class="flex items-center grow-1">
          <p class="title-search grow-1">Matricula</p>
          <ng-select [addTag]="true" [ngOptionHighlight]="appUppercase" placeholder="Todas" class="grow-1 select-supervisor" formControlName="registration"
            [items]="this.suggestions.registrations" [clearable]="true"></ng-select>
        </div>
        <div class="flex items-center grow-1">
          <p class="title-search grow-1">Origen</p>
          <ng-select [addTag]="true" [ngOptionHighlight]="appUppercase" placeholder="Todos" class="grow-1 select-supervisor" formControlName="origin"
            [items]="this.suggestions.origins" [clearable]="true"></ng-select>
        </div>
        <div class="flex items-center grow-1">
          <p class="title-search grow-1">Destino</p>
          <ng-select [addTag]="true" [ngOptionHighlight]="appUppercase" placeholder="Todos" class="grow-1 select-supervisor" formControlName="destination"
            [items]="this.suggestions.destinations" [clearable]="true"></ng-select>
        </div>
        <!-- </form> -->
      </div>
    </form>
  </div>

  <mat-card>
    <div class="flex justify-start" id="search-item">
      <span class="search-container">
        <form [formGroup]="searchFormFiles">
          <input formControlName="nameSearch" type="text" class="search" placeholder="Buscar">
        </form>
        <img class="search-icon" src="assets/searchbar.svg" alt="">
      </span>
      <ol class="breadcrumb">
        <li *ngFor="let breadcrumb of breadcrumbs" class="breadcrumb-item " (click)="returnHome(breadcrumb)">
          <span class="flex items-center" >
            <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_left</mat-icon>
            {{ breadcrumb }}
          </span>
        </li>
      </ol>
    </div>

    <div class="flex grid items-center ">
      <ng-container>
        <div class="col-3" *ngFor="let item of folders">
          <div class="flex column items-center item-folder" (click)="viewFolder(item)">
            <img class="icon-folder" src="assets/green folder.svg" alt="">
            <h4 class="folder-name shrink-1">{{ item }}</h4>
          </div>
        </div>
      </ng-container>
      
      <div class="col-3" *ngFor="let item of files">
        <div class="flex column items-center item-folder" (click)="viewDataManifest(item)">
          <img class="icon-folder" src="assets/PDF_file_icon.svg" alt="">
          <h4 class="folder-name shrink-1">{{ item.name }}</h4>
        </div>
      </div>
      <!-- <ng-container *ngIf="files.length == 0 && folders.length == 0">
          <div class="flex items-center">
            <h3> No hay documentos</h3>
          </div>
        </ng-container> -->
    </div>
    <ng-container *ngIf="folders.length == 0 && files.length == 0">
        <div class="flex items-center justify-center">
          <h3>No hay carpetas para mostrar </h3>
        </div>
      </ng-container><br>
  </mat-card>
</div>