<div class="navbar">
  <div class="flex items-center justify-end" style="height: 100%; padding-right: 40px;">
    <div class="flex inline items-center" style="margin-right: 10px; cursor: pointer;" [matMenuTriggerFor]="menu">
      <div class="circle-img"
        style="background-image: url(assets/user.png); background-color: rgba(200, 200, 200, 0.5);"></div>
      <span style="color: white; margin-left: 5px; ">▾</span>
    </div>
    <mat-menu #menu="matMenu">
      <button (click)="logout()" mat-menu-item>Cerrar sesiòn</button>
    </mat-menu>
  </div>
</div>

<div class="sidebar flex column items-center">
  <div class="logo">
    <img src="assets/logo.png" height="65px" alt="">
  </div>

  <div class="menu">
    <a [queryParams]="{}" [routerLink]="['/upload']" routerLinkActive="active" class="item flex">
      <img height="15px" class="item-icon" src="assets/upload.svg" alt="icon">
      Carga de documentos
    </a>

    <a [queryParams]="{}" [routerLink]="['/manifest']" routerLinkActive="active" class="item flex">
      <img height="15px" class="item-icon" src="assets/manifest.svg" alt="icon">
      Manifiestos de vuelo
    </a>
    <!-- *ngIf="isElectron" -->
    <a [queryParams]="{}" [routerLink]="['/repository']" routerLinkActive="active" class="item flex">
      <img height="15px" class="item-icon" src="assets/folder.svg" alt="icon">
      Repositorio de documentos
    </a>

    <a [queryParams]="{}" [routerLink]="['/compliance-report']" routerLinkActive="active" class="item flex">
      <img height="18px" class="item-icon" src="assets/reports.svg" alt="icon">
      Reporte de cumplimiento
    </a>
  </div>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>