.container {
  margin: 1rem;
  margin-top: 0;
}
::ng-deep .mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: #e4e4e4 !important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #e4e4e4 !important;
}
::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: #e4e4e4 !important;
}
::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
  .mat-form-field-outline-thick {
  color: #e4e4e4 !important;
  opacity: 0.8 !important;
}
::ng-deep .mat-input-element {
  caret-color: #e4e4e4 !important;
}
::ng-deep .mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
  caret-color: #e4e4e4 !important;
}
::ng-deep .mat-form-field-label {
  color: rgba(0, 0, 0, 0.6) !important;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #e4e4e4 !important;
}
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: #e4e4e4 !important;
}
::ng-deep .mat-focused .mat-form-field-label {
  color: #fff !important;
}
::ng-deep.mat-form-field-outline {
  background-color: #fff !important;
  border-radius: 5px;
}
::ng-deep.mat-form-field-ripple {
  background-color: #fff !important;
  border-radius: 5px;
}
::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0px 0px 5px 0px !important;
}
::ng-deep .mat-form-field-label-wrapper {
  top: -1.5em;
}
::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  transform: translateY(-1.1em) scale(0.75);
  width: 70%;
}
.title-search {
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: #1c1c1c;
  font-weight: bold;
}
.row-red {
  background-color: #db5579;
}
.row-green {
  background-color: #c6efce;
}
.row-yellow {
  background-color: #ffeb9c;
}
.name-colum {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}
mat-form-field {
  width: 95%;
}
mat-radio-button {
  margin: 6px;
}
mat-radio-group {
  margin-top: -22px;
}
.title {
  width: 100%;
}
