<div class="section">
    <div class="flex items-center">
        <span class="section-title">Manifiesto de vuelos</span>
        <div class="grow-1"></div>
        <!-- <span class="search-container">
            <input type="text" class="search" placeholder="Buscar">
            <img class="search-icon" src="assets/srchbar.svg" alt="">
        </span> -->
    </div><br>
    <mat-dialog-content fxFlex>
        <mat-list>
            <mat-list-item *ngFor="let file of files">
                <h4 mat-line>{{file.name}}</h4>
                <mat-progress-bar *ngIf="progress" mode="indeterminate" [value]="progress[file.name].progress | async">
                </mat-progress-bar>
                <!-- <mat-icon *ngIf="progress[file.name].isFinish" aria-hidden="false" aria-label="Example home icon">check_circle</mat-icon> -->
            </mat-list-item>
        </mat-list>
    </mat-dialog-content>
    <mat-card>
        <div class="uploadfilecontainer flex column items-center justify-center" (click)="fileInput.click()" appDragDrop
            (onFileDropped)="uploadFile($event)">
            <input multiple hidden accept="application/pdf/image/jpeg,image/gif,image/png,image/x-eps" type="file" #fileInput
                (change)="onThumbnailSelected($event)">
            <div class="flex inline column items-center">
                <img src="assets/drag and drop.svg" style="margin-bottom: 40px; margin-top: 80px;" width="130px"
                    height="130px" alt="">
                <span class="text-center drop-title">Arrastra y libera<br>o <span class="text-green">carga</span> tus
                    archivos</span>
                <span class="drop-subtitle">Agrega los archivos (.pdf)</span>
            </div>
        </div>
    </mat-card>

</div>