.uploadfilecontainer {
    height: 500px;
    width: 100%;
    margin: 20px auto;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}
.drop-title{
    line-height: 1.3;
    font-size: 1.3rem;
}
.drop-subtitle{
    color: lightgray;
    margin-top: 30px;
    font-size: 0.9rem;
}

.box{
    margin-top: -128px;
}

.container {
    overflow: hidden !important
}