<!-- <div style="position: relative"> -->
  <!-- the position of the parent container must be set to relative -->
  <!-- It is really important to set loaderId for non-master loader -->
  <ngx-ui-loader [loaderId]="loaderId" [fgsColor]="color" [pbColor]="color"></ngx-ui-loader>
<!-- </div> -->
<div class="container">
  <mat-card>
    <div class="flex justify-end" *ngIf="isBottomSheet">
      <mat-icon class="clickable" (click)="rotation = rotation - 90" aria-hidden="false" aria-label="back icon">rotate_left</mat-icon>
      <mat-icon class="clickable" (click)="rotation = rotation + 90" aria-hidden="false" aria-label="back icon">rotate_right</mat-icon>
      <button class="btn send-file" (click)="openInUrl()">Abrir</button>
      <button class="btn cancel" (click)="close()">Cerrar</button>
    </div>
    <pdf-viewer [src]="pdfSrc" [rotation]="rotation" [render-text]="true" style="display: block;" 
    (after-load-complete)="afterLoadPdf()" (error)="onError($event)"></pdf-viewer>
  </mat-card>
</div>