<div class="container">
    <mat-card>

        <div class="flex items-center">
            <span class="search-container">
                <input (keyup)="updateFilter($event)" type="text" class="search" placeholder="Buscar">
                <img class="search-icon" src="assets/srchbar.svg" alt="">
            </span>

            <div class="grow-1"></div>

            <button class="btn success"
            [ngClass]="{'disabled': this.manifestToSend.size <= 0}"
            [disabled]="this.manifestToSend.size <= 0"
             (click)='onConfirmArray()'>Confirmar archivos</button>
        </div><br>

        <div style="width: 100%;">
            <ngx-datatable
            [sortType]="'multi'"
            [sorts]="[{ prop: 'name', dir: 'desc' }]"
            [footerHeight]="50"
            [limit]="10"
            (sort)="onSort($event)"
             #dataManifestTable rowHeight="auto" 
             [columnMode]="'force'" [rows]="rows" [columns]="columns">

                <ngx-datatable-column  [sortable]="true" 
                *ngFor="let column of columns; let i = index;" name="{{column.name}}"
                    prop="{{column.prop}}">

                    <ng-template let-column="column" ngx-datatable-header-template>
                        <div [ngSwitch]="i"
                            style="border-bottom: 1px solid lightgray; padding: 5px 0px; text-transform: uppercase; font-size: 0.7rem; font-weight: bold; color: gray;">
                            <div class="text-right" *ngSwitchCase="3">{{column.name}}</div>
                            <div class="text-center" *ngSwitchCase="2">{{column.name}}</div>
                            <div class="text-center" *ngSwitchCase="1">{{column.name}}</div>
                            <div class="text-center" *ngSwitchCase="0">{{column.name}}</div>
                        </div>
                    </ng-template>

                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>

                        <div [ngSwitch]="i" class="flex items-center"
                            style="height: 50px; border-bottom: 1px solid lightgray; font-size: 0.9rem;">
                            <div class="flex justify-end grow-1" *ngSwitchCase="3">
                                <button class="btn small info" (click)='onEdit(row)'>
                                    <img width="15px" height="15px" src="assets/edit.svg" alt="">
                                </button>
                                <button class="btn small danger" (click)='onDelete(row)'>
                                    <img width="15px" height="15px" src="assets/delete.svg" alt="">
                                </button>
                            </div>

                            <div class="flex justify-center grow-1" *ngSwitchCase="2">
                                <span title="Sin analizar" *ngIf="value == 0" class="status danger"></span>
                                <span title="Por analizar" *ngIf="value == 1" class="status warning"></span>
                                <span title="Analizado, faltan campos" *ngIf="value == 2" class="status primary"></span>
                                <span title="Analizado, Todos los campos" *ngIf="value == 3" class="status success"></span>
                            </div>

                            <div *ngSwitchCase="1" class="flex grow-1 justify-center">
                                <div>
                                    {{getDateFormat(value)}}
                                </div>
                            </div>

                            <div *ngSwitchCase="0" style="padding-left: 20px;">
                                <div>
                                    <mat-checkbox #check (click)="onCheckIsPressed(row, check)"
                                    [disabled]="row.checkStatus !== 3"></mat-checkbox>
                                    {{value}}
                                </div>
                            </div>
                        </div>

                    </ng-template>

                </ngx-datatable-column>
                
            </ngx-datatable>
        </div>

    </mat-card>
</div>