<div class="container">
        <div class="flex items-center title-container">
            <h1 class="grow-1 section-title">Usuarios</h1>
            <div class="flex justify-end">
                <img style="cursor: pointer;" (click)="ngOnInit()" height="25px"
                [src]="isLoading ? 'assets/loading4.gif' : 'assets/reload.svg'" alt="">
            </div>
        </div>
        <!-- <div class="flex items-center">
                <span class="search-container">
                    <form [formGroup]="searchForm">
                        <input formControlName="nameSearch" type="text" class="search" placeholder="Buscar">
                    </form>
                    <img class="search-icon" src="assets/searchbar.svg" alt="">
                </span>
            </div>
            <br> -->
    <mat-card>
        <div class="flex items-center ">
            <span class="search-container">
                <form [formGroup]="searchForm">
                    <input formControlName="nameSearch" type="text" class="search" placeholder="Buscar">
                </form>
                <img class="search-icon" src="assets/searchbar.svg" alt="">
            </span>
            
            <div class="grow-1"></div>
            <div class="grow-1"></div>
            <div class="flex ">
                <button [routerLink]="['./new']" class="btn send-file">Agregar usuario</button>
            </div>
        </div>
        <br>
        <div>
            <table mat-table matSort (matSortChange)="customSort($event)" [dataSource]="dataSource"
                class="mat-elevation-z1">

                <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->

                <!-- id Column -->
                <ng-container matColumnDef="_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-title">
                        <div class="text-center">ID de empleado</div>
                    </th>
                    <td mat-cell *matCellDef="let element" class="items-center row-style">
                        <div>
                            {{element.id}}
                        </div>
                    </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-title">
                        <div class="text-center"> Nombre </div>
                    </th>
                    <td mat-cell *matCellDef="let element" class="items-center row-style">
                        <div class="flex grow-1 justify-start">
                            <div>
                                {{ element.name }}
                            </div>
                        </div>
                    </td>
                </ng-container>

                <!-- password Column -->
                <!-- <ng-container matColumnDef="password">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-title">
                        <div class="text-center"> Contraseña </div>
                    </th>
                    <td mat-cell *matCellDef="let element" class="items-center row-style">
                        <div class="flex grow-1 justify-start">
                            <div>
                                {{ element.password }}
                            </div>
                        </div>
                    </td>
                </ng-container> -->

                <!-- email Column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-title">
                        <div class="text-center"> Correo electronico </div>
                    </th>
                    <td mat-cell *matCellDef="let element" class="items-center row-style">
                        <div class="flex grow-1 justify-start">
                            <div>
                                {{ element.email }}
                            </div>
                        </div>
                    </td>
                </ng-container>

                <!-- created Column -->
                <ng-container matColumnDef="created">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-title">
                        <div class="text-center"> Fecha de registro </div>
                    </th>
                    <td mat-cell *matCellDef="let element" class="items-center row-style">
                        <div class="flex grow-1 justify-start">
                            <div>
                                {{ getDateFormat(element.created) }}
                            </div>
                        </div>
                    </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="table-title">
                        <div class="text-center"> Acciones </div>
                    </th>
                    <td mat-cell *matCellDef="let element" class="items-center">
                        <div class="flex justify-center grow-1">
                            <button
                             class="btn small info" (click)='onEdit(element)'>
                                <img width="15px" height="15px" src="assets/edit.svg" alt="">
                            </button>
                            <button 
                                class="btn small danger" (click)='onDelete(element)'>
                                <img width="15px" height="15px" src="assets/delete.svg" alt="">
                            </button>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator #paginator [length]="total" [pageSizeOptions]="[10, 25, 100]" [pageSize]="limit"
                [pageIndex]="page" (page)="pager($event)" showFirstLastButtons></mat-paginator>

        </div>

    </mat-card>
</div>