<div class="navbar">
  <div class="flex items-center justify-end" style="height: 100%; padding-right: 40px;">
      <div class="flex inline items-center" style="margin-left: 10px;">
          <div class="circle-img" style="background-image: url(assets/user.png); background-color: rgba(200, 200, 200, 0.5);"></div>
          <span style="color: white; margin-left: 10px;">▾</span>
      </div>
  </div>
</div>

<div class="sidebar flex column items-center">
  <div class="logo">
      <img style="margin-top: 32px;" src="assets/logo.png" height="65px" alt="">
  </div>

  <div class="menu">
      <div class="item flex selected">
          Kiosko
      </div>
      <div class="item flex">
          Aeropuerto
      </div>
  </div>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>