<div class="container">
  <div class="flex items-center">
    <h1 class="grow-1">Manifiesto de salida</h1>
    <div class="flex justify-end grow-1" id="search-item">
      <span class="search-container">
        <input type="text" class="search" placeholder="Buscar">
        <img class="search-icon" src="assets/srchbar.svg" alt="">
      </span>
    </div>
  </div>
  
  <mat-card>
    <form  [formGroup]="manifestForm" (ngSubmit)="update()">
      <div class="flex justify-end">
          <button class="btn-send-manifest" (click)="viewManifest()">Ir a manifiesto</button>
        <button class="btn-load-manifest" (click)="loadManifest()">Cargar manifiesto</button>
      </div>
      <div class="grid">
        <div class="col-6">
          <div class=" flex column items-center justify-center">
            <mat-form-field [floatLabel]="'always'">
              <mat-label class="custom-mat-form-field-label">Folio</mat-label>
              <input formControlName="folio" matInput placeholder="Folio">
            </mat-form-field>

            <mat-form-field [floatLabel]="'always'">
              <mat-label class="custom-mat-form-field-label">Aeropuerto</mat-label>
              <input formControlName="airport" matInput placeholder="Aeropuerto">
            </mat-form-field>

            <mat-form-field [floatLabel]="'always'">
              <mat-label class="custom-mat-form-field-label">Compañia</mat-label>
              <input formControlName="company" matInput placeholder="Compañia">
            </mat-form-field>
          </div>
        </div>

        <div class="col-6">
          <div class="flex column items-center justify-center">
            <mat-form-field [floatLabel]="'always'">
              <mat-label class="custom-mat-form-field-label">Fecha</mat-label>
              <input formControlName="date" matInput placeholder="Fecha">
            </mat-form-field>

            <mat-form-field [floatLabel]="'always'">
              <mat-label class="custom-mat-form-field-label">Siglas</mat-label>
              <input formControlName="airportacronym" matInput placeholder="Siglas">
            </mat-form-field>

            <mat-form-field [floatLabel]="'always'">
              <mat-label class="custom-mat-form-field-label">Siglas</mat-label>
              <input formControlName="companyacronym" matInput placeholder="Siglas">
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="grid">
        <div class="col-4">
          <mat-form-field [floatLabel]="'always'">
            <mat-label class="custom-mat-form-field-label">Equipo</mat-label>
            <input formControlName="equipment" matInput placeholder="Equipo">
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field [floatLabel]="'always'">
            <mat-label class="custom-mat-form-field-label">Matricula</mat-label>
            <input formControlName="enrollment" matInput placeholder="Matricula">
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field [floatLabel]="'always'">
            <mat-label class="custom-mat-form-field-label">No de vuelo</mat-label>
            <input formControlName="flightnumber" matInput placeholder="No de vuelo">
          </mat-form-field>
        </div>
      </div>

      <div class="grid">
        <div class="col-6">
          <div class=" flex column items-center justify-center">
            <mat-form-field [floatLabel]="'always'">
              <mat-label class="custom-mat-form-field-label">Comandante</mat-label>
              <input formControlName="commander" matInput placeholder="Comandante">
            </mat-form-field>

            <mat-form-field [floatLabel]="'always'">
              <mat-label class="custom-mat-form-field-label">1er oficial</mat-label>
              <input formControlName="firstofficer" matInput placeholder="1er oficial">
            </mat-form-field>

            <mat-form-field [floatLabel]="'always'">
              <mat-label class="custom-mat-form-field-label">2do oficial</mat-label>
              <input formControlName="secondofficer" matInput placeholder="2do oficial">
            </mat-form-field>

            <mat-form-field [floatLabel]="'always'">
              <mat-label class="custom-mat-form-field-label">3er oficial</mat-label>
              <input formControlName="thirdofficer" matInput placeholder="3er oficial">
            </mat-form-field>

            <mat-form-field [floatLabel]="'always'">
              <mat-label class="custom-mat-form-field-label">Mayor</mat-label>
              <input formControlName="major" matInput placeholder="Mayor">
            </mat-form-field>

            <mat-form-field [floatLabel]="'always'">
              <mat-label class="custom-mat-form-field-label">Sobrecargo 1</mat-label>
              <input formControlName="firstsurcharge" matInput placeholder="Sobrecargo 1">
            </mat-form-field>

            <mat-form-field [floatLabel]="'always'">
              <mat-label class="custom-mat-form-field-label">Sobrecargo 2</mat-label>
              <input formControlName="secondsurcharge" matInput placeholder="Sobrecargo 2">
            </mat-form-field>

            <mat-form-field [floatLabel]="'always'">
              <mat-label class="custom-mat-form-field-label">Sobrecargo 3</mat-label>
              <input formControlName="thirdsurcharge" matInput placeholder="Sobrecargo 3">
            </mat-form-field>
          </div>
        </div>

        <div class="col-6">
          <div class="flex column items-center justify-center">
            <mat-form-field [floatLabel]="'always'">
              <mat-label class="custom-mat-form-field-label">Licencia</mat-label>
              <input formControlName="commanderlicense" matInput placeholder="Licencia">
            </mat-form-field>

            <mat-form-field [floatLabel]="'always'">
              <mat-label class="custom-mat-form-field-label">Licencia</mat-label>
              <input formControlName="firstofficerlicense" matInput placeholder="Licencia">
            </mat-form-field>

            <mat-form-field [floatLabel]="'always'">
              <mat-label class="custom-mat-form-field-label">Licencia</mat-label>
              <input formControlName="secondofficerlicense" matInput placeholder="Licencia">
            </mat-form-field>

            <mat-form-field [floatLabel]="'always'">
              <mat-label class="custom-mat-form-field-label">Licencia</mat-label>
              <input formControlName="thirdofficerlicense" matInput placeholder="Licencia">
            </mat-form-field>

            <mat-form-field [floatLabel]="'always'">
              <mat-label class="custom-mat-form-field-label">Licencia</mat-label>
              <input formControlName="majorlicense" matInput placeholder="Licencia">
            </mat-form-field>

            <mat-form-field [floatLabel]="'always'">
              <mat-label class="custom-mat-form-field-label">Licencia</mat-label>
              <input formControlName="firstsurchargelicense" matInput placeholder="Licencia">
            </mat-form-field>

            <mat-form-field [floatLabel]="'always'">
              <mat-label class="custom-mat-form-field-label">Licencia</mat-label>
              <input formControlName="secondsurchargelicense" matInput placeholder="Licencia">
            </mat-form-field>

            <mat-form-field [floatLabel]="'always'">
              <mat-label class="custom-mat-form-field-label">Licencia</mat-label>
              <input formControlName="thirdsurchargelicense" matInput placeholder="Licencia">
            </mat-form-field>
          </div>
        </div>
      </div>

      <br>
      <br>
      <br>

      <div class="flex">
        <h4 class="grow-1">Próximo escala</h4>
      </div>
      <div class="grid">
        <div class="col-6">
          <div class=" flex column items-center justify-center">
            <mat-form-field [floatLabel]="'always'">
              <mat-label class="custom-mat-form-field-label">Origen</mat-label>
              <input formControlName="origin" matInput placeholder="Origen">
            </mat-form-field>

            <mat-form-field [floatLabel]="'always'">
              <mat-label class="custom-mat-form-field-label">Destino</mat-label>
              <input formControlName="destination" matInput placeholder="Destino">
            </mat-form-field>

            <mat-form-field [floatLabel]="'always'">
              <mat-label class="custom-mat-form-field-label">Próxima escala</mat-label>
              <input formControlName="nextscale" matInput placeholder="Próxima escala">
            </mat-form-field>

            <mat-form-field [floatLabel]="'always'">
              <mat-label class="custom-mat-form-field-label">Hora itinerario</mat-label>
              <input formControlName="itinerarytime" matInput placeholder="Hora itinerario">
            </mat-form-field>

            <mat-form-field [floatLabel]="'always'">
              <mat-label class="custom-mat-form-field-label">Causa de la demora</mat-label>
              <input formControlName="delaycause" matInput placeholder="Causa de la demora">
            </mat-form-field>
          </div>
        </div>

        <div class="col-6">
          <div class="flex column items-center justify-center">
            <mat-form-field [floatLabel]="'always'">
              <mat-label class="custom-mat-form-field-label">Siglas</mat-label>
              <input formControlName="originacronym" matInput placeholder="Siglas">
            </mat-form-field>

            <mat-form-field [floatLabel]="'always'">
              <mat-label class="custom-mat-form-field-label">Siglas</mat-label>
              <input formControlName="destinationacronym" matInput placeholder="Siglas">
            </mat-form-field>

            <mat-form-field [floatLabel]="'always'">
              <mat-label class="custom-mat-form-field-label">Siglas</mat-label>
              <input formControlName="nextscaleacronym" matInput placeholder="Siglas">
            </mat-form-field>

            <mat-form-field [floatLabel]="'always'">
              <mat-label class="custom-mat-form-field-label">Hora real</mat-label>
              <input formControlName="realtime" matInput placeholder="Hora real">
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="flex justify-end">
        <button class="btn-cancel-manifest">Cancelar</button>
        <button class="btn-send-manifest">Enviar</button>
      </div>
    </form>
  </mat-card>
</div>