<div class="container" [ngClass]="{'padding-window': !isPdfHidden}">
  <div class="flex items-center">
      <div style="cursor: pointer; margin-right: 10px;" (click)="onCancel()" class="flex justify-start">
          <mat-icon aria-hidden="false" aria-label="back icon">keyboard_backspace</mat-icon>
      </div>
    <h1 class="grow-1">Expediente</h1>
    <!-- <div class="flex justify-end grow-1" id="search-item">
      <span class="search-container">
        <input type="text" class="search" placeholder="Buscar">
        <img class="search-icon" src="assets/searchbar.svg" alt="">
      </span>
    </div> -->
  </div>

  <mat-card>
    <form (ngSubmit)="onSubmit">
      <div class="flex items-center" style="width: 100%;">

        <div class="grow-1 flex justify-start">
          <h4>{{ file.name }}</h4>
        </div>
        <div class="grow-1 flex justify-end">
          <button type="button" class="btn send-file" (click)="viewFile()">Ver expediente</button>
        </div>
      </div>
      <div class="grid">
        <div class="col-6">
          <div class=" flex column items-center justify-center">
            <mat-form-field [floatLabel]="'always'">
              <mat-label class="custom-mat-form-field-label">Año</mat-label>
              <input [disabled]="isConfirmed" name="file.year" [(ngModel)]="file.year" matInput placeholder="Año">
            </mat-form-field>

            <mat-form-field [floatLabel]="'always'">
              <mat-label class="custom-mat-form-field-label">Apellido Paterno</mat-label>
              <input  [disabled]="isConfirmed" required appUppercase name="file.fatherLastname" [(ngModel)]="file.fatherLastname" matInput
                placeholder="Apellido Paterno"
                >
                <!-- [matAutocomplete]="names" -->
              <!-- <mat-autocomplete #names="matAutocomplete">
                <mat-option *ngFor="let option of file.matches.names" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete> -->
            </mat-form-field>

            <mat-form-field [floatLabel]="'always'">
              <mat-label class="custom-mat-form-field-label">Nombre(s)</mat-label>
              <input  [disabled]="isConfirmed" required appUppercase name="file.name" [(ngModel)]="file.name" matInput
                placeholder="Nombre(s)" >
              <!-- <mat-autocomplete #names="matAutocomplete">
                [matAutocomplete]="names"
                <mat-option *ngFor="let option of file.matches.names" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete> -->
            </mat-form-field>
          </div>
        </div>

        <div class="col-6">
          <div class="flex column items-center justify-center">
            <mat-form-field [floatLabel]="'always'">
              <mat-label class="custom-mat-form-field-label">Curso</mat-label>

              <input type="text" [disabled]="isConfirmed" required appDateFormat name="file.courseName"
                [(ngModel)]="file.courseName" matInput placeholder="Curso" >
              <mat-error *ngIf="hasError(file.courseName)">Ingrese curso</mat-error>
            </mat-form-field>

            <mat-form-field [floatLabel]="'always'">
              <mat-label class="custom-mat-form-field-label">Apellido Materno</mat-label>
              <input [disabled]="isConfirmed" required name="file.motherLastname" [(ngModel)]="file.motherLastname" appUppercase
                matInput placeholder="Apellido Materno" >
              <!-- <mat-autocomplete #acronymAC="matAutocomplete">  [matAutocomplete]="acronymAC"
                <mat-option *ngFor="let option of file.matches.acronyms" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete> -->
              <mat-error *ngIf="hasError(file.motherLastname)">Ingrese apellido</mat-error>
            </mat-form-field>

          </div>
        </div>
      </div>

      <br>
      <br>
      <br>

      <mat-card-actions style="text-align: end;">
        <button type="button" class="btn margin cancel-file" (click)="onCancel()">Cancelar</button>
        <button type="button" *ngIf="!isConfirmed" class="btn margin load-file" (click)="loadFile()">Confirmar
          expediente</button>
        <button class="btn margin send-file" type="submit" (click)="update()">Actualizar</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
<div class="window" *ngIf="!isPdfHidden">
  <app-file-viewer [isBottomSheet]="true" [key]="key" (closeWindow)="isPdfHidden = true"></app-file-viewer>
</div>