:host {
  background-color: rgb(177, 78, 180);
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 10px 10px 10px 10px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  color: #FFFFFF;
  pointer-events: all;
  cursor: pointer;
}
.btn-pink {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}

:host {
  width: auto !important;
  max-width: 500px !important;
  margin: 0 0 8px !important;
  padding: 8px 8px 8px 50px !important;
  background-position: 12.5px center !important;
}

small {
  position: absolute;
  top: 8px;
  right: 8px;
}
  